<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAqKPgbc8LLkN1ufL2DnXqH2RvCU_SEPaY</string>
	<key>GCM_SENDER_ID</key>
	<string>966737771799</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.todoWithFirebase</string>
	<key>PROJECT_ID</key>
	<string>todo-with-firebase-be041</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-with-firebase-be041.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:966737771799:ios:2ccacbe835a33194ea4b52</string>
</dict>
</plist>